* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  background: #f5f3ef;
  text-align: center;
}

/* HERO */

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
              url('https://images.unsplash.com/photo-1519741497674-611481863552') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  margin-bottom: 15px;
}

.sub {
  letter-spacing: 3px;
  font-size: 1.2rem;
}

.date {
  margin-top: 10px;
  letter-spacing: 2px;
}

/* SECTIONS */

section {
  padding: 100px 20px;
}

.section-light {
  background: #ffffff;
}

.section-dark {
  background: #1f1f1f;
  color: white;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.2rem;
  margin-bottom: 40px;
}

/* CONTADOR */

#timer {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.time-box {
  background: #ffffff;
  padding: 35px;
  border-radius: 20px;
  min-width: 120px;
  font-size: 2rem;
  color: #000;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.time-box small {
  display: block;
  font-size: 0.8rem;
  margin-top: 5px;
  letter-spacing: 2px;
  color: #666;
}

/* CARDS */

.card {
  max-width: 420px;
  margin: auto;
  background: white;
  color: #333;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 25px 60px rgba(0,0,0,0.08);
}

.section-dark .card {
  background: #2c2c2c;
  color: white;
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  border: 1px solid #333;
  color: #333;
  transition: 0.3s;
}

.btn:hover {
  background: #333;
  color: white;
}

.btn-light {
  border: 1px solid white;
  color: white;
}

.btn-light:hover {
  background: white;
  color: black;
}

/* FORM */

form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, select {
  padding: 12px;
  border-radius: 10px;
  border: none;
}

button {
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: white;
  cursor: pointer;
  font-weight: 500;
}

.highlight {
  font-size: 1.3rem;
  letter-spacing: 2px;
}

/* FOOTER */

footer {
  padding: 40px;
  background: #111;
  color: white;
}
.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
.section-light::after,
.section-dark::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #c6a75e;
  margin: 60px auto 0;
}

